USE [master]
GO
/****** Object:  Database [C:\USERS\ÖMER SEFA\DOCUMENTS\DENTALDB.MDF]    Script Date: 17.08.2024 15:40:22 ******/
CREATE DATABASE [C:\USERS\ÖMER SEFA\DOCUMENTS\DENTALDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DentalDB', FILENAME = N'C:\Users\Ömer Sefa\Documents\DentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DentalDB_log', FILENAME = N'C:\Users\Ömer Sefa\Documents\DentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\ÖMER SEFA\DOCUMENTS\DENTALDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\ÖMER SEFA\DOCUMENTS\DENTALDB.MDF]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 17.08.2024 15:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[DoğumTarihi] [varchar](50) NOT NULL,
	[Cinsiyet] [varchar](10) NOT NULL,
	[Aleji] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevu]    Script Date: 17.08.2024 15:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevu](
	[Id] [int] IDENTITY(500,1) NOT NULL,
	[Hasta] [varchar](50) NOT NULL,
	[Tedavi] [varchar](50) NOT NULL,
	[RandevuTarihi] [varchar](50) NOT NULL,
	[Saat] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recete]    Script Date: 17.08.2024 15:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recete](
	[Id] [int] IDENTITY(2000,1) NOT NULL,
	[HastaAdı] [varchar](50) NULL,
	[TedaviAdı] [varchar](50) NULL,
	[Ücreti] [int] NULL,
	[Ilac] [varchar](50) NULL,
	[Ilacmiktari] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedavi]    Script Date: 17.08.2024 15:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedavi](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Ücret] [int] NOT NULL,
	[Acıklama] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
